@{
    Layout = "_LayoutAdmin";
}

<section id="section__employee" class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nik</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>

@section Scripts
{
    <script src="~/dist/AdminIndex.js"></script>
}